body {
  background-color: rgba(221, 221, 221, 1);
}

img {
  object-fit: cover;
}

ul {
  list-style-type: none;
}

.work-sans {
  font-family: "Work Sans", "Noto Sans", sans-serif;
}

.open-sans {
  font-family: "Open Sans", "Noto Sans", sans-serif;
}

.bg-component-blue,
.blue-button {
  background-color: rgba(48, 71, 94, 1);
}

.bg-navbar-menu {
  background-color: rgba(196, 196, 196, 1);
}

.red-button {
  background-color: rgba(240, 84, 84, 1);
}

.red-button:hover {
  background-color: rgb(255, 143, 143);
}

.blue-button:hover {
  background-color: rgb(104, 127, 151);
}

.bi:hover {
  color: rgb(84, 94, 104);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(248, 249, 250, 1);
}

.off-white-text,
.icon-color {
  color: rgba(221, 221, 221, 1);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.widget-title {
  font-size: 1.3rem;
}

.widget-body-text {
  font-size: 2rem;
}

.accordion-item:nth-child(odd) button {
  background-color: rgb(214, 214, 214);
}

.accordion-item:nth-child(even) button {
  background-color: rgb(239, 247, 255);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgba(48, 71, 94, 1) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
  box-shadow: none;
}

.edit-icon {
  right: 1.2rem;
}

.trash-icon {
  right: 0;
  top: 1.3rem;
  color: red;
}

.trash-icon:hover {
  color: rgb(241, 79, 79);
}

.map-size {
  min-width: 350px;
  min-height: 350px;
  width: 100%;
  height: 100%;
}

.search-button {
  z-index: 10;
  right: 0;
  left: 0;
  max-width: 200px;
  margin: auto;
}

#menu {
  height: calc(100vh - 70px);
}

.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  transform: scaleX(-1);
}

.lds-hourglass::after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  background: rgb(221, 221, 221);
  border: 2.5rem solid rgb(221, 221, 221);
  border-color: rgba(48, 71, 94, 1) transparent;
  animation: lds-hourglass 2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}
