body {
  background-color: rgba(221, 221, 221, 1);
}

img {
  object-fit: cover;
}

.work-sans {
  font-family: "Work Sans", "Noto Sans", sans-serif;
}

.open-sans {
  font-family: "Open Sans", "Noto Sans", sans-serif;
}

.bg-component-blue,
.blue-button {
  background-color: rgba(48, 71, 94, 1);
}

.bg-navbar-menu {
  background-color: rgba(196, 196, 196, 1);
}

.red-button {
  background-color: rgba(240, 84, 84, 1);
}

.red-button:hover {
  background-color: rgb(255, 143, 143);
}

.blue-button:hover {
  background-color: rgb(104, 127, 151);
}

.bi:hover {
  color: rgb(84, 94, 104);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: rgba(248, 249, 250, 1);
}

.disabled {
  pointer-events: none;
}

.off-white-text {
  color: rgba(221, 221, 221, 1);
}

.btn:focus {
  outline: white;
  box-shadow: white;
}

.widget-height {
  min-height: 10rem;
}

.fill {
  min-height: 100%;
}

.widget-title {
  font-size: 1.3rem;
}

.widget-body-text {
  font-size: 2rem;
}

.h-40 {
  min-height: 40% !important;
}
